:root
{
--accent-color: #FF7500;

--heading-font: "Roboto Condensed", Roboto, Arial, sans-serif;

--text-font: "Roboto", Arial, sans-serif;
}

html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
box-sizing: inherit;
}
/* ===== body ====== */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--text-font);
  letter-spacing: 0.5px;
}
.container
{
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
*:focus
{
  outline: 3px dotted var(--accent-color);
  outline-offset: 3px;
}
/* ============== */
/* sihe-header */
/* ============== */
.site-header
{
  border-top: solid var(--accent-color) 5px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.site-header-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.logo-link
{
  display: flex;
  transition: opacity 0.4s ease;
}
.logo-link:hover
{
  opacity: 0.8;
}
.logo-link:active
{
  opacity: 0.6;
}
/* ============= */
/* site navigation */
/* ============= */

.site-nav-list
{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.site-nav-actions
{
  display: flex;
  align-items: center;
  list-style: none;
  transition: 0.4s ease, opacity 0.4s ease;
}
.sitenav-link
{
  font-family: var(--text-font);
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin-top: 0;
  margin-right: 32px;
}
.sitenav-link last-child
{
  margin-right: 0;
}
.sitenav-link:hover
{
  color: var(--accent-color);
}
.sitenav-link:active
{
  color: var(--accent-color);
  opacity: 0.6;
}
/* ============= */
/* main link */
/* ========== */
.main-link
{
  font-family: var(--text-font);
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  background: var(--accent-color);
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.main-link:hover
{
  opacity: 0.8;
}
.main-link:active
{
  opacity: 0.6;
}
/* ================== */
/* site-hero */
/* =============== */
.hero
{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}
.hero-container
{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.hero-content-box
{
  max-width: 387px;
}
.hero-line
{
  border: none;
  width: 80px;
  height: 3px;
  background-color: var(--accent-color);
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.hero-img
{
  position: absolute;
  top: -40px;
  right: 20px;
  border-radius: 8px;
  max-width: 510px;
  height: 510px;
  margin-left: 20px;
  box-shadow: 20px 20px 0 0 rgb(255, 117, 0, 0.6);

}
.hero-heading
{ padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 24px;
}
.hero-text
{
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
}
/* ================================== */
/* ========== site feature ========== */
/* ================================== */
.site-feature
{
  padding-top: 210px;
  padding-bottom: 210px;
  background-color: #FFFFFF;
}
.feature-heading
{
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 72px;
}
.feature
{
  max-width: 340px;
  width: 100%;
  list-style: none;
}

.feature:not(:last-child)
{
  margin-right: 20px;
}
.feature-line
{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
h3
{
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 12px;
}
.feature p
{
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;

}
.feature-icon-wrapper
{
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  margin-bottom: 32px;
}
/* =============== */
/* promo */
/* ============= */
.promo
{
  margin-bottom: 160px;
}

.promo-inner
{
  border-radius: 12px;
  background-color: #000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  width: 100%;
}
.promo-box
{
  max-width: 440px;
}

.promo-img
{
  position: absolute;
  bottom: 64px;
  right: 64px;
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}

.promo-heading
{
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 24px;
}
.promo-parag
{
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
strong
{
  color: var(--accent-color);
}
/* =================  */
/* site-footer */
/* ============= */

.site-footer
{
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #F8F8F8;
}
.site-footer-top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer-social-list
{
  display: flex;
  align-items: center;
  list-style: none;
}
.site-footer-social-links
{
  margin-right: 16px;
}
.site-footer-social-links a
{
  display: flex;
  color: #252420;
}
.site-footer-social-links a:hover
{
  color: var(--accent-color);
}
.site-footer-social-links a:active
{
  color: var(--accent-color);
  opacity: 0.6;
}
.footer-line
{
  padding: 0;
  margin: 0;
  background-color: rgba(37, 36, 32, 0.5);;
  height: 2px;
  border: none;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 64px;
}
/* ========================== */
/* ====== footer list ======= */
/* ========================== */
.site-footer-list
{
  display: flex;
  justify-content: space-between;
}
.site-footer-links
{
  padding: 0;
  margin: 0;
}
.site-footer-links:not(:last-child)
{
margin-right: 20px;
}
.site-footer-links li
{
  list-style: none;
}
.site-footer-links li:not(:last-child)
{
  margin-bottom: 16px;
}
.site-footer-links a
{
  font-family: var(--text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
  text-decoration: none;
}
.site-footer-links a:hover
{
  color: var(--accent-color);
}
.site-footer-links a:active
{
  color: var(--accent-color);
  opacity: 0.6;
}