*:focus
{
  outline: 2px solid #FF7500;
  outline-offset: 3px;
}

.site-header
{
  border-top: solid #FF7500 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;

}
.site-nav-list
{
  display: flex;
  align-items: center;
}
.site-nav-actions
{
  display: flex;
  align-items: center;
  list-style: none;
}
.sitenav-link
{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;

}
.main-link
{
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  background: #FF7500;
  color: #fff;
  text-decoration: none;
}
/* ================== */
/* site-hero */
/* =============== */
.hero
{
  display: flex;
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
}
.hero-content
{
  padding-top: 80px;
  padding-bottom: 80px;
  width: 390px;

}
.hero-line
{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}
.hero-img
{
 border-radius: 8px;
 width: 510px;
 height: 510px;
}
.hero-heading
{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1,2px;
  /* or 86px */
}

     .feature-heading-text
     {
      font-size: 72px;
      width: 435px;
      height: 172px;
     }

   .feature
   {
   width: 340px;
   list-style: none;
   }
     .feature-line
     {
      display: flex;
      justify-content: space-between;
      align-items: center;
     }
 .feature-icon-wrapper
       {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        background-color: rgba(255, 117, 0, 0.2);
      }

  .promo
  {
    display: flex;
    justify-content: space-between;
    background-color: #000;
  }
  .promo-box
  {
    padding-top: 64px;
    padding-bottom: 64px;
   width: 440px;
   height: 291px;
  }
   .promo-text-box
   {
    width: 440px;
   }

    .promo-img  {
      border-radius: 12px;
    }

  .promo-head
  {
    font-family: Roboto Condensed;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.5px;
    text-align: left;

    color: rgba(255, 255, 255, 1);


  }
  .promo-parag
  {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    color: rgba(255, 255, 255, 1);
    ;

  }
  .site-footer-top
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   .site-fr-social-links
   {
    display: flex;
    align-items: center;
    list-style: none;
   }
.footer-line
{
  background-color: rgba(37, 36, 32, 0.5);;
  height: 2px;
}
.footer-links
{
display: flex;
justify-content: space-around;
}
ul a
{
  color: #000;
  text-decoration: none;
  list-style: none;
}