*:focus
{
  outline: 2px solid #FF7500;
  outline-offset: 3px;
}
/* ============== */
/* sihe-header */
/* ============== */
.site-header
{
  width: 1100px;
  border-top: solid #FF7500 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-link
{
  transition: opacity 0.4s ease;
}
.logo-link:hover
{
  opacity: 0.8;
}
.logo-link:active
{
  opacity: 0.6;
}
/* ============= */
/* ============= */
/* site navigation */
.site-nav-list
{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.site-nav-actions
{
  display: flex;
  align-items: center;
  list-style: none;
  transition: 0.4s ease, opacity 0.4s ease;
}
.sitenav-link
{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin-top: 0;
  margin-right: 32px;
}
.sitenav-link: last-child
{
  margin-right: 0;
}
.sitenav-link:hover
{
  color: #FF7500;
}
.sitenav-link:active
{
  color: #FF7500;
  opacity: 0.6;
}
/* ============= */
/* main link */
/* ========== */
.main-link
{
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  background: #FF7500;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.main-link:hover
{
  opacity: 0.8;
}
.main-link:active
{
  opacity: 0.6;
}
/* ================== */
/* site-hero */
/* =============== */
.hero
{
  display: flex;
  justify-content: space-between;
  background-color: #252420;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
.hero-text-heading
{
  padding-top: 43px;
  padding-right: 48px;
  width: 339px;
  height: 96px;
  margin-bottom: 24px;
}
.hero-container{
  width: 1100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.hero-content-box
{ width: 387px;
  height: 328px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-right: 203px;
}
.hero-line
{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
  margin: 0;
  padding: 0;
}
.hero-img
{
  border-radius: 8px;
  width: 510px;
  height: 510px;
  padding: 0;
  margin: 0;

}
.hero-heading
{
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;
}
.hero-parag
{
  width: 387px;
  height: 96px;
}
.h-p-text
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;

}
.site-feature
{
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.feature-text-box
{
  width: 435px;
  height: 172px;
  padding: 0;
  margin: 0;
}
.feature-heading-text
{
  font-family: Roboto Condensed;
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0.5px;
  text-align: left;
}
.feature
{
  width: 340px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.feature-line
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3
{
  font-family: Roboto Condensed;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.5px;
  text-align: left;
}
.feature p
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;

}
.feature-icon-wrapper
{
  padding: 0;
  margin: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}
  /* =============== */
  /* promo */
  /* ============= */
.promo
{
  width: 1100px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #000;
}
.promo-box
{
  padding: 0;
  margin: 0;
  width: 440px;
  padding-left: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.promo-text-box
{
  padding: 0;
  margin: 0;
  width: 440px;
}

.promo-img  {
  border-radius: 12px;
  padding-top: 64px;
  padding-right: 64px;
  padding-bottom: 64px;
}

.promo-head
{
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;
  text-align: left;

  color: rgba(255, 255, 255, 1);
}
.promo-parag
{
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;

  color: rgba(255, 255, 255, 1);
}
  strong
  {
    color: #FF7500
  }
/* =================  */
/* site-footer */
/* ============= */

.site-footer
{
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.site-footer-top
{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-fr-social-links
{
  display: flex;
  align-items: center;
  list-style: none;
}
.sc-links
{
  margin-right: 16px;
}
.sc-links a
{
  color: #252420;
}
.sc-links a:hover
{
  color: #FF7500;
}
.sc-links a:active
{
  color: #FF7500;
  opacity: 0.6;
}
.footer-line
{
  background-color: rgba(37, 36, 32, 0.5);;
  height: 2px;
}
.footer-links
{
  display: flex;
  justify-content: space-around;
}
.fr-links li
{
  list-style: none;
}
.fr-links a
{
  color: #000;
  text-decoration: none;
}
.fr-links a:hover
{
  color: #FF7500;
}
.fr-links a:active
{
  color: #FF7500;
  opacity: 0.6;
}